html {
    font-family: Comic Sans MS, Comic Sans, Arial;
}
h1,
h2 {
    font-family: Papyrus;
    color: purple;
}
ul {
    list-style-type: none;
    background-color: gray;
}
li {
    display: inline-block;
    padding: 16px;
}
li:hover {
    background-color: #AAA;
}
a {
    color: black;
}
footer {
    color: #555;
    background-color: #DDD;
    text-align: center;
    padding: 16px;
}